/** main font **/
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/** Header font **/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*body {
    margin: 0;
    padding: 0;
    background-color: #f3f0ea;
}


/*************** TOP *******************/
#top {
    max-width: 100%;
    background-color: #EDDBC7;
}

#navnavn {
    display: flex;
    justify-content: center;
    color: #7895B2;
    background-color: #EDDBC7;
    font-size: 30pt;
    margin-top: 0;
    padding-top: 20px;
    font-family: 'Lora', serif;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #EDDBC7;
    max-width: 65%;
    padding-left: 15%;

    }

nav a {
    color: #7895B2;
    font-size: 20pt;
    text-decoration: none;
    font-family: 'Lora', serif;
}


/*************** MID *******************/
main {
    box-sizing: 1000px;
}

#cina {
    width: 1100px;
    height: 600px;
    padding-left: 20%;
}

#intro-h {
    box-sizing: 1050px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 40pt;
    font-size: 15pt;
    color: #7895B2;
}

#intro-p {
    max-width: 1050px;
    text-align: center;
    padding-left: 20%;
    font-family: 'Raleway', sans-serif;
    line-height: 25pt;
    font-weight: 500;
    padding-bottom: 120px;
}

#wow-intro {
    max-width: 1050px;
    display: flex;
    justify-content: left;
    padding-left: 20%;
}

#wow-logo {
    height: 200px;
}

/*************** BUT *******************/